In [292]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [293]:
# Read the csv file into a pandas DataFrame
lsd = pd.read_csv('resources/lumab_stab_scrubbed.csv')
lsd.head()

,Unnamed: 0,TIMEPOINT,NAME,ENTRY,CONDITION,PRODUCT,Sample-Number,Lot
0,0,06M,Deamidation,3.5,5C,Lumab,21573,39360
1,1,09M,Deamidation,3.3,5C,Lumab,21575,39360
2,2,12M,Deamidation,4.3,5C,Lumab,21578,39360
3,3,24M,Deamidation,3.644508337,5C,Lumab,95206,39404
4,4,24M,Deamidation,3.992744093,5C,Lumab,95209,39408

In [294]:
lsd.count()

Unnamed: 0       315
TIMEPOINT        315
NAME             315
ENTRY            228
CONDITION        315
PRODUCT          315
Sample-Number    315
Lot              315
dtype: int64

In [295]:
lsd.dtypes

Unnamed: 0        int64
TIMEPOINT        object
NAME             object
ENTRY            object
CONDITION        object
PRODUCT          object
Sample-Number     int64
Lot              object
dtype: object

In [296]:
convert = lsd
convert.head()

,Unnamed: 0,TIMEPOINT,NAME,ENTRY,CONDITION,PRODUCT,Sample-Number,Lot
0,0,06M,Deamidation,3.5,5C,Lumab,21573,39360
1,1,09M,Deamidation,3.3,5C,Lumab,21575,39360
2,2,12M,Deamidation,4.3,5C,Lumab,21578,39360
3,3,24M,Deamidation,3.644508337,5C,Lumab,95206,39404
4,4,24M,Deamidation,3.992744093,5C,Lumab,95209,39408

In [297]:
# delete first column
convert=convert.drop(convert.columns[0], axis=1)

In [298]:
# strip off M from timepoint
convert['TIMEPOINT'] = convert['TIMEPOINT'].str.extract('(\d+)', expand=False)
convert.head()

  TIMEPOINT         NAME        ENTRY CONDITION PRODUCT  Sample-Number    Lot
0        06  Deamidation          3.5        5C   Lumab          21573  39360
1        09  Deamidation          3.3        5C   Lumab          21575  39360
2        12  Deamidation          4.3        5C   Lumab          21578  39360
3        24  Deamidation  3.644508337        5C   Lumab          95206  39404
4        24  Deamidation  3.992744093        5C   Lumab          95209  39408

In [299]:
convert.dtypes

TIMEPOINT        object
NAME             object
ENTRY            object
CONDITION        object
PRODUCT          object
Sample-Number     int64
Lot              object
dtype: object

In [300]:
# convert timepoint to integer
convert['TIMEPOINT'] = convert['TIMEPOINT'].astype(int)

In [301]:
convert.dtypes

TIMEPOINT         int32
NAME             object
ENTRY            object
CONDITION        object
PRODUCT          object
Sample-Number     int64
Lot              object
dtype: object

In [302]:
# strip < from entry
convert['ENTRY'] = convert['ENTRY'].str.replace('<', '')

In [303]:
# convert entry to float
# Using to_numeric() to convert a column's data into floats
convert["ENTRY"] = pd.to_numeric(
    convert["ENTRY"])
convert.dtypes

#convert['ENTRY'] = convert['ENTRY'].astype(float)

TIMEPOINT          int32
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot               object
dtype: object

In [304]:
convert.dtypes

TIMEPOINT          int32
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot               object
dtype: object

In [305]:
convert.count()

TIMEPOINT        315
NAME             315
ENTRY            228
CONDITION        315
PRODUCT          315
Sample-Number    315
Lot              315
dtype: int64

In [306]:
# remove the rows with any missing data
convert = convert.dropna(how='any')

In [307]:
convert.count()

TIMEPOINT        228
NAME             228
ENTRY            228
CONDITION        228
PRODUCT          228
Sample-Number    228
Lot              228
dtype: int64

In [308]:
convert

,TIMEPOINT,NAME,ENTRY,CONDITION,PRODUCT,Sample-Number,Lot
0,6,Deamidation,3.500000,5C,Lumab,21573,39360
1,9,Deamidation,3.300000,5C,Lumab,21575,39360
2,12,Deamidation,4.300000,5C,Lumab,21578,39360
3,24,Deamidation,3.644508,5C,Lumab,95206,39404
4,24,Deamidation,3.992744,5C,Lumab,95209,39408
5,5,Deamidation,4.500000,5C,Lumab,127889,39511
6,38,Deamidation,6.900000,5C,Lumab,127890,39346
7,31,Deamidation,4.700000,5C,Lumab,124962,39360
8,31,Deamidation,3.900000,5C,Lumab,124963,39365
9,9,Deamidation,4.724143,5C,Lumab,131358,39499/2
10,36,Deamidation,5.043211,5C,Lumab,131361,42485
12,18,Deamidation,5.128401,5C,Lumab,136770,39465
13,38,Deamidation,6.100000,5C,Lumab,136771,39352
16,38,Deamidation,5.200000,5C,Lumab,221597,39360
17,38,Deamidation,4.700000,5C,Lumab,221598,39362
18,30,Deamidation,6.324550,5C,Lumab,232577,42487/J
19,36,Deamidation,6.296182,5C,Lumab,248179,39408
21,36,Deamidation,5.981401,5C,Lumab,248051,39404
22,9,Deamidation,4.605954,5C,Lumab,258775,39551
23,9,Deamidation,4.216849,5C,Lumab,258778,39557
29,30,Deamidation,5.870421,5C,Lumab,18407,42483
30,30,Deamidation,6.701803,5C,Lumab,32794,39346
31,30,Deamidation,5.618523,5C,Lumab,32796,39347
32,6,Deamidation,4.544475,5C,Lumab,120351,39511
33,3,Deamidation,3.074995,5C,Lumab,120354,39529
34,6,Deamidation,3.027048,5C,Lumab,217234,39557
35,6,Deamidation,4.314456,5C,Lumab,217237,39551
36,24,Deamidation,5.133037,5C,Lumab,220057,39465
37,12,Deamidation,4.734335,5C,Lumab,238587,39529
38,12,Deamidation,6.522439,5C,Lumab,238587,39529
...,...,...,...,...,...,...,...
223,37,Deamidation,5.905835,5C,Lumab,86307,42483
224,36,Deamidation,7.000000,5C,Lumab,97699,39351
225,36,Deamidation,6.074900,5C,Lumab,97702,39352
226,6,Deamidation,3.080404,5C,Lumab,97375,39499/2
227,24,Deamidation,4.459178,5C,Lumab,177177,39445
230,3,Deamidation,3.579997,5C,Lumab,176156,39551
231,3,Deamidation,2.996596,5C,Lumab,176157,39557
233,4,Deamidation,3.600000,5C,Lumab,198812,39551
234,0,Deamidation,3.300000,5C,Lumab,198814,39551
235,0,Deamidation,3.300000,5C,Lumab,198817,39557
236,0,Deamidation,3.500000,5C,Lumab,286067,39590
237,6,Deamidation,6.100000,5C,Lumab,286068,39590
238,6,Deamidation,6.600000,5C,Lumab,286068,39590
239,0,Deamidation,4.700000,5C,Lumab,289410,39569A
240,9,Deamidation,7.142645,5C,Lumab,289411,39569A
241,9,Deamidation,4.785528,5C,Lumab,22941,39445
242,6,Deamidation,4.318242,5C,Lumab,22943,39465
244,0,Deamidation,3.300000,5C,Lumab,24563,39362
245,3,Deamidation,3.300000,5C,Lumab,24566,39362
246,6,Deamidation,3.700000,5C,Lumab,24569,39362
247,9,Deamidation,4.000000,5C,Lumab,24572,39362
249,12,Deamidation,4.400000,5C,Lumab,24578,39362
255,18,Deamidation,4.482269,5C,Lumab,82036,42487/J
256,12,Deamidation,4.555089,5C,Lumab,171269,39499/2
259,36,Deamidation,5.216404,5C,Lumab,176613,39360
262,36,Deamidation,3.992474,5C,Lumab,176619,39365
263,18,Deamidation,5.200000,5C,Lumab,286069,39511
264,24,Deamidation,4.255605,5C,Lumab,154843,42487/J
265,18,Deamidation,4.834062,5C,Lumab,251852,39499/2
266,30,Deamidation,4.768346,5C,Lumab,262167,39445

In [309]:
# round to 2decimal places
convert["ENTRY"] = convert["ENTRY"].map("{:.2f}".format)

In [310]:
convert.dtypes

TIMEPOINT         int32
NAME             object
ENTRY            object
CONDITION        object
PRODUCT          object
Sample-Number     int64
Lot              object
dtype: object

In [311]:
# convert entry to float

# Using to_numeric() to convert a column's data into floats
convert["ENTRY"] = pd.to_numeric(
    convert["ENTRY"])
convert.dtypes

# convert['ENTRY'] = convert['ENTRY'].astype(float)

TIMEPOINT          int32
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot               object
dtype: object

In [312]:
convert.replace(r'/\w+',value="",inplace=True,regex=True)
convert['Lot'].replace(r'[A-Z,a-z]+',value="",inplace=True,regex=True)

In [314]:
convert.dtypes

TIMEPOINT          int64
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot               object
dtype: object

In [315]:
# convert Lot to int

# Using to_numeric() to convert a column's data into floats
convert["Lot"] = pd.to_numeric(
    convert["Lot"])
convert.dtypes

TIMEPOINT          int64
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot                int64
dtype: object

In [316]:
df1 = convert.loc[convert["CONDITION"] == "5C", :]

In [317]:
df2 = convert.loc[convert["CONDITION"] == "25_60", :]

In [318]:
df1.head()

   TIMEPOINT         NAME  ENTRY CONDITION PRODUCT  Sample-Number    Lot
0          6  Deamidation   3.50        5C   Lumab          21573  39360
1          9  Deamidation   3.30        5C   Lumab          21575  39360
2         12  Deamidation   4.30        5C   Lumab          21578  39360
3         24  Deamidation   3.64        5C   Lumab          95206  39404
4         24  Deamidation   3.99        5C   Lumab          95209  39408

In [319]:
df2.head()

    TIMEPOINT         NAME  ENTRY CONDITION PRODUCT  Sample-Number    Lot
64          0  Deamidation    1.9     25_60   Lumab         213819  42268
65          1  Deamidation    2.2     25_60   Lumab         213827  42268
66          3  Deamidation    2.0     25_60   Lumab         213830  42268
67          6  Deamidation    3.4     25_60   Lumab         213833  42268
79          0  Deamidation    2.0     25_60   Lumab         211117  42267

In [320]:
# Export file as a CSV, without the Pandas index, but with the header
df1.to_csv("Output/lumid_5c.csv", index=False, header=True)

In [321]:
# Export file as a CSV, without the Pandas index, but with the header
df2.to_csv("Output/lumid_25_60.csv", index=False, header=True)